node_modules
.DS_Store
*.local
build
.cache
public/build
.env
.env.*
!.env.example
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
**/*.db
**/*.db-journal
**/*.sqlite
**/*.sqlite3
.shopify
dist
.vite
*.log
